body{
    padding:0;
    margin: 0;
    border:2px solid black;
    box-sizing: border-box;
    width:100%; 
    margin:auto;
    height:98vh;
    background-image: url('Images/Beer1.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}
html{
    font-size:62.5%;
    /* font-size is set to 10 px by default it is 16px  */
}
.main_container{
    /* border:4px solid orange; */
    height:99vh;
    width:98vw;
    text-align: center;
}
.search_box{
    /* width:400px; */
    margin:auto;
    margin:2rem 40rem 1rem 40rem;
    /* border:2px solid blue; */
}
input{
    height:4.4rem;
    width:60rem;
    border-radius: 15px;
    border:none;
    outline:none;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    font-size:2.8rem;
    font-weight:bold;
    color:rgb(79, 76, 76);
}
.input-box::placeholder{
    color:grey;
}
.container_body{
    /* border:2px solid red; */
    width:98vw;
    height:90vh;
    background-color: rgba(240,240,240,0);
    opacity:0.8;
    border-radius: 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.cards{
    /* border:2px solid black; */
    height:30rem;
    width:25rem;
    border-radius:15px;
    background-color: rgba(255,255,255,0.8);
    margin: 1.5rem 2rem;
    text-align: center;
    position:relative;
    box-sizing: border-box;
}
.brewery_details{
    /* border:2px solid rebeccapurple; */
    padding: .5rem 0 0 0;
    font-size:2.6rem;
    font-weight: bolder;
    line-height:3.5rem;
    position:absolute;
    top:0rem;
    bottom:18rem;
    left:0rem;
    right:0rem;
    box-sizing: border-box;
    overflow-y: hidden;

}
.brewery_details .name{
    text-decoration:underline;

}
.brewery_details .type{
    text-shadow: 6px 8px 8px black;
    text-transform: uppercase;
    color:rgb(59,19,8);
}
.location_details{
    /* border:2px solid cyan; */
    font-size:1.8rem;
    font-weight: bold;
    line-height:3rem;
    color:black;
    position:absolute;
    top:12rem;
    bottom:54px;
    left:0rem;
    right:0rem;
    overflow-y: hidden;

}
.contact_details{
    /* border:2px solid red; */
    line-height:2.5rem;
    font-size:1.7rem;
    font-weight: bold;
    /* padding:5px; */
    position:absolute;
    bottom:0rem;
    top:24.5rem;
    left:0rem;
    right:0rem;
    overflow-x: hidden;
}


